
.navContainer{
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    width: 100%;
    position: fixed;
    top: 30px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content:space-between;
    list-style: none;
}

.list {
    display: block;
    color: honeydew;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.list:hover {
    background-color: indianred;
}